<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery-3.2.1.min.js"></script>
    <script src="javascripts/peer.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
	<div class="container" >
		


	<div class="row" style="height: 150px;" >
	
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height: 100%; border-style: solid;">
		    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

	</div>

	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height: 100%; border-style: solid; display: flex; justify-content: center; align-items: center;">
		
 <button type="button" id="videoSharing" class="btn btn-primary">Activate Cam</button>
  <button type="button" id="audioSharing" class="btn btn-info" style="margin-left: 10%;">Activate Mic</button>

<select id="videoQuality" style="margin-left: 10%;" >
  <option value="QVGA" id="QVGA" >QVGA (320x240px)</option>
  <option value="VGA" id="VGA" >VGA (640x480px)</option>
  <option value="HD" id="HD" >HD (1280x720px)</option>
</select>

	</div>	


	</div>

   <div class="row" style="height: 500px; border-style: solid;" >
   	
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height: 100%; border-style: solid;">

		<div class="row" style="height: 20%; text-align: center; background: darkgray;">
			
			<h3> USER 1 </h3>	
		
		</div>

		<div class="row" style="height: 80%;">

		<video autoplay="true" id="videoUsr1" style="height: 100%; width: 100%;"> </video>
		<video autoplay="true" id="audioUsr1" style="display: none;"> </video>

		</div>

	</div>

	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height: 100%; border-style: solid;">
		
				<div class="row" style="height: 20%; text-align: center; background: darkgray;">
			
			<h3> USER 2 </h3>	
		
		</div>
		
		<div class="row" style="height: 80%;">

		<video autoplay="true" id="videoUsr2" style="height: 100%; width: 100%;"> </video>
		<video autoplay="true" id="audioUsr2" style="display: none;"> </video>

		</div>

	</div>

   </div>

   	</div>

	<script src="javascripts/peerManagement.js" type="text/javascript"></script>
	
	<script type="text/javascript">

		$(document).ready(function(){

			console.log("JQUERY READY FOR YOU !!");

		});

	</script>


  </body>
</html>
